{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <table border="1" cellpadding="10" align='center'>
        <caption>Table of Fruits and Their Prices</caption>
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td colspan="2">Total $3.75</td>
        </tr>
    </table >

    <h3 style="text-align: center; font-weight: normal;">Table 2: A More Complex Sample Table</h3>
    <table border="1" cellpadding="10" style="border-collapse: collapse; margin: auto;">

    <tr>
        <td rowspan="2">
            <img src="{% static 'images/desert.jpeg' %}" alt="Desert Image" style="width: 300px; height: auto;">
        </td>
        <td colspan="5"><strong>Camelid comparison (Approximate as of 6/2011)</strong></td>
    </tr>
    <tr>
        <td><strong># of Hubs</strong></td>
        <td><strong>indigous region</strong></td>
        <td><strong>splits?</strong></td>
        <td><strong>produce wool?</strong></td>
    </tr>

    <tr>
        <td><strong>Dromedary</strong></td>
        <td>1</td>
        <td>Arabian Peninsula</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td><strong>Camels (Bactrian)</strong></td>
        <td>2</td>
        <td>Africa/Asia</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td><strong>Llamas</strong></td>
        <td>1</td>
        <td>Andes Mountains</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
</table>
